.code 
{
 background:url(image/xybj.jpg);
 font-family:Arial;
 font-style:italic;
 color:blue;
 font-size:25px;
 border:0;
 padding:2px 3px;
 letter-spacing:3px;
 font-weight:bolder;
 float:left;
 cursor:pointer;
 width:140px;
 height:60px;
 line-height:60px;
 text-align:center;
 vertical-align:middle;
} 
a 
{
 text-decoration:none;
 
 color:#288bc4;
}
a:hover 
{
 text-decoration:underline;
}

.str {
	color: #ff0000;
}
.str1 {
	color: #00ff7f;
}